.header{
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 0.84rem;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2);
  font-size: 0;
  z-index: 99;
}

.header img{
  display: block;
  width: .5rem;
  margin: 0 .3rem;
}
.header .search{
  flex-grow: 2;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: .6rem;
  border-radius: .04rem;
  border: 1px solid #efefef;
  background-color: #fff;
  color: #a5afbb;
  font-size: .3rem;
  line-height: .6rem;
  vertical-align: middle;
}
.header .search img{
  width: .45rem;
  margin: 0 .1rem;
}
.header .user img{
  width: .4rem;
  margin: 0 .3rem;
}